<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}?v=102"  >
     <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}?v=125"></script>
  <meta charset="UTF-8">
  <title>Search Questions (Case sensitive!)</title>

</head>
<body >

<P>Enter questions </P>
<!--suppress HtmlUnknownTarget -->
<FORM id="question_form" ACTION="/bankdomain/search_questions_submit" METHOD="POST">
    <div class="surrond_form">
    <p>
    <label for="question" ></label>

    <textarea class="textarea_big" id="question" name="question" rows="10" cols="60">{{question | default('')}}</textarea>
    </p>
         <input id="page_id" name="page_id"  type="hidden" value="0"  />
    <P><input type="submit" value="submit"  /></P>

    </div>
 </FORM>





{% if token_list : %}

<BR>
Related concepts (must be entered in correct case):
<table border="1">
    <CAPTION>Related concepts</CAPTION>

    <tr>
        <th>Orig Token</th>
        <th><span>Related concepts</span></th>


      </tr>

        {% for _ in token_list : %}

            <tr>

                <td > <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.token}}</A></td>

                 <td > <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.rel_tokens}}</A></td>
            </tr>
        {% endfor %}
    </table>

<BR>
{% endif %}

{% if docs_tfidf : %}

    <table border="1">
    <CAPTION>Questions- TFIDF</CAPTION>

    <tr>
        <th>Question</th>
        <th><span>Answer</span></th>
        <th>Score</th>
        <th>TfIdf</th>
        <th>Wv</th>
      </tr>

        {% for _ in docs_tfidf : %}

            <tr>

                <td > <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.question}}</A></td>

                 <td > <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.answer}}</A></td>
                <td > <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.score}}</A></td>
                <td> <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.tfidf_score}}</A></td>
                <td> <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.wv_score}}</A></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if docs_tfidf: %}
    <div class="buttonrow">
            {% if page_id and page_id > 0: %}
                    <input class="main" type="submit" value="<<< Back" onclick="move_to_page('{{ page_id - 1 }}','question_form')"/>

            {% endif %}

            <div class="buttoncolumn">
                <B>{{page_id+1 | default(0) }}</B>
            </div>
            <input class="main" type="submit" value="Forward >>> " onclick="move_to_page('{{ page_id + 1 }}','question_form')" />


        <BR>
    </div>
{% endif %}
</body>
</html>